<!DOCTYPE html>
{% load static %}
<html lang="ja">
<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="https://res.cloudinary.com/hx3z2s9d0/image/upload/v1577103870/icon.png">
  <title>学習分析</title>
</head>

<body>
  <div class="container">
    <div class="title margin">
      <p id="title">学習分析</p>
    </div>
    <div class="contents margin">
    <div>
    <nav>
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'table' %}">学習記録</a></li>
            <li class="current"><a href="{% url 'analysis' %}">学習分析</a></li>
        </ul>
    </nav>
    </div>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <hr>
    <div class="iconbox">
        <div class="box-title">学習効率に影響するのは...(Azure Machine Learning)</div>
        <div class="iconbox-wrap">
            <div class="box-content">
                <ul class="list">
                    <li><a id = "list1">リスト1</a></li>
                    <li><a id = "list2">リスト2</a></li>
                </ul>
            </div>
            <div class="iconballoon">
                <div class="balloon">
                    ここに注目！
                </div>
            <div class="icon"><img src="https://res.cloudinary.com/hx3z2s9d0/image/upload/v1577234505/ritsu_2_dash.png"/></div>
            </div>
        </div>
    </div>

    <div class="iconbox iconbox-blue">
        <div class="box-title2">こうするといいかも！(Python scikit-learn)</div>
        <div class="iconbox-wrap">
            <div class="box-content">
                <p id = "ad">アドバイス</p>
            </div>
            <div class="iconballoon">
                <div class="balloon">
                    しっかり管理しよう!
                </div>
            <div class="icon"><img src="https://res.cloudinary.com/hx3z2s9d0/image/upload/v1577234505/ritsu_1_dash.png"/></div>
            </div>
        </div>
    </div>
    
    
    </div>
    <hr>
    
  </div>
    
    
  <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{% static 'style.css' %}">
  
  <script type="text/javascript">

    response = get_ml();
    response.then(function(data){
      console.log(data.d1);
      console.log(data.d2);
      if (data.d1 == "lux"){
        var l1 = "照度";
      }
      if (data.d2 == "temp_gap"){
        var l2 = "室内外の温度差";
      }
      $("#list1").text(l1);
      $("#list2").text(l2);
    });

    response = get_tree();
    response.then(function(data){
      console.log(data.d);
      console.log(data.list);
      console.log(data.d1);
      console.log(data.d2);
      $("#ad").text(data.d);
    });


    function get_tree(){
      return $.ajax({
          url: '/table/tree_get/',
          type: 'GET',
          
          dataType: 'json',
      }).done(function(data, textStatus, jqXHR) {
          return data;
      });
    }

    function get_ml(){
      return $.ajax({
          url: '/table/ml_get/',
          type: 'GET',
          
          dataType: 'json',
      }).done(function(data, textStatus, jqXHR) {
          return data;
      });
    }
    
  </script>
  
  
</body>
</html>