<!doctype html>
{% load static %}
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0">
    
    <title>Smart Sharp Pencil App</title>
  </head>
  <body>
    <div class="container">
      <div class="title margin">
        <p id="title">Smart Pencil</p>
      </div>
      <div class="contents margin">
        <div>
        <nav>
            <ul>
                <li class="current"><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'table' %}">学習記録</a></li>
                <li><a href="{% url 'analysis' %}">学習分析</a></li>
            </ul>
        </nav>
        </div>
        <hr>
        <div class = "button_cover">
          <button id="startNotifications" class = "button_on">Bluetooth接続</button>
          <button id="disconnect" class = "button_off">Bluetooth切断</button>
        </div>
        <form class = "form_send">
          <label for="textForm">学習内容を入力してください: </label>
          <input type="text" id="textForm">
           
          <button id = "name" class="button">送信</button>
        </form>
        <div id = "name_hyouji">  </div>
        <hr>
        <div id = "time_recorder">
          <p id = "time_record"></p>
        </div>
        <div id = "neko">
          <img name = "blue" class = "img_sample" height="150" src="https://res.cloudinary.com/hx3z2s9d0/image/upload/v12345678/Rotating_earth__large_wy9cfd.gif" width="200"/>
        </div>
        <div>
            <li class="record">
              <a href="{% url 'table' %}">学習記録</a>
            </li>
            <li class="record">
              <a href="{% url 'analysis' %}">学習分析</a>
            </li>
        </div>
      </div>
      <div class="footer margin">
        For more information, see <a href="https://jp.heroku.com/" target="_blank">HEROKU</a>and <a href="https://docs.djangoproject.com/ja/3.0/" target="_blank">Django</a>
      </div>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script>
      var id =-1;

      document.blue.src = "https://res.cloudinary.com/hx3z2s9d0/image/upload/v12345678/tree2.png";

      const date = new Date();
      const year = date.getFullYear() ;	// 年
      const month = date.getMonth() + 1 ;	// 月
      const day = date.getDate() ;	// 日
      const hour = date.getHours();
      const minute = date.getMinutes() ;	// 分
      const second = date.getSeconds() ;	// 秒
      const dayOfWeek = date.getDay() ;	// 曜日(数値)

      const date_str = String(year)+"/"+String(month)+"/"+String(day);

      var week = [0,0,0,0,0,0,0]
      var timezone = [0,0,0,0,0,0,0,0];
      week[dayOfWeek] = 1;
      var timez_hour = Math.floor(hour/3);
      timezone[timez_hour] = 1;
      console.log(week,timezone,hour)

      var name = "others";
      

      //天気--------------------------------------------
      var weather = 0;
      var temp_outside = 0;
      $(document).ready(function () {
        //'use strict'

        const APIKEY = "b0fca0711b8aefd394528920f6ba428d";

        //翌日9時のデータの場所を割り出す
        //const date = new Date();
        //const nowHour = date.getHours();

        
        //現在位置の取得ができるかどうか
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(success, error);

            // 現在位置の取得に成功した場合
            function success(position) {
                const positionData = position.coords;

                //緯度経度の取得と表示
                const lat = positionData.latitude;
                const lon = positionData.longitude;
                

                //現在の天気データを呼び出し
                $.ajax({
                    url: "//api.openweathermap.org/data/2.5/weather",
                    dataType: "jsonp",
                    data: "lat=" + lat + "&lon=" + lon + "&appid=" + APIKEY,
                    //天気データ呼び出し成功時の挙動
                    success: function (data) {                
                        if (data.weather[0].main === "Clear") {
                            weather = 2;
                        } else if (data.weather[0].main === "Rain") {
                            weather = -1;
                        } else if (data.weather[0].main === "Clouds") {
                            weather = 1;
                        } else if (data.weather[0].main === "Snow") {
                            weather = -2;
                        }
                        temp_outside = Math.floor((data.main.temp - 273.15) * 10) / 10;
                        console.log(weather);
                        console.log("トウキョウじゃない天気");
                        
                    }
                });
              }

              //現在位置の取得に失敗した場合
              function error(error) {
                  TokyoWeather();
                  console.log(weather);
                  console.log("トウキョウ天気");

              }
        } else {
            TokyoWeather();
            console.log(weather);
            console.log("トウキョウ天気");
        }
        console.log(weather);
        console.log("↑天気");


        function TokyoWeather() {

            //現在の天気データ呼び出し
            $.ajax({
                url: "//api.openweathermap.org/data/2.5/weather",
                dataType: "jsonp",
                data: "q=Tokyo,jp&appid=" + APIKEY,
                //天気データ呼び出し成功時の挙動
                success: function (data) {
                    if (data.weather[0].main === "Sunny" || data.weather[0].main === "Clear") {
                        weather = 2;
                    } else if (data.weather[0].main === "Rain") {
                        weather = -1;
                    } else if (data.weather[0].main === "Clouds") {
                       weather = 1;
                    } else if (data.weather[0].main === "Snow") {
                        weather = -2;
                    }
                    temp_outside = Math.floor((data.main.temp - 273.15) * 10) / 10;
                    console.log(weather);
                    console.log("トウキョウ天気");
                }
            });
        }
      }());

      //照度------------------------------------------  
      var lux = 0
      navigator.permissions.query({name: 'ambient-light-sensor'})
          .then((result) => {
            if(result.state === 'granted') {
              console.log('AmbientLightSensorは利用可能です。');
            } else if(result.state === 'denied') {
              console.log('AmbientLightSensorは利用不可能です。');
            } else if (result.state === 'prompt') {
              console.log('AmbientLightSensorの利用には許可が必要です。');
            }

            // センサオブジェクトをnewする
            const sensor = new AmbientLightSensor();

            // 有効になった時の動作
            sensor.addEventListener('activate', (event) => {
              console.log('AmbientLightSensorは有効になりました。');
            });

            // 値が変わった時の動作
            sensor.addEventListener('reading', (event) => {
              console.log(`${sensor.illuminance}ルクス`);
              lux = Math.round(sensor.illuminance);
              console.log(lux);
              sensor.stop();
            });

            // エラーの時の動作
            sensor.addEventListener('error', (event) => {
              console.log(event.error);
            });

            // 読み取り開始
            sensor.start();

            // 読み取り停止
            //sensor.stop();
      });

      /*
      //axios.post("https://addition-entities.azurewebsites.net/api/add",param);
      
      function add(){
        return axios.post("https://addition-entities.azurewebsites.net/api/insertorreplace",param);
      }
      add();*/

      var time_record = 0;
      document.getElementById("time_record").innerHTML = "ただいまの学習時間: "+ String(time_record) + "分";
      

      var XAxisCharacteristic;

      var first = 0;
      var str = "";
      var temp_gap = 0;
      var temp_max = 0;
      var temp_min = 100;
      var temp_self = 36;
      var work_time = 0;
      var actual_work_time = 0;
      var efficiency = 0;

      var sec = 0;
      var sec_azure = 0;

      let serviceUuid = "442f1570-8a00-9a28-cbe1-e1d4212d53eb";
      let XAxisUuid = "442f1571-8a00-9a28-cbe1-e1d4212d53eb";
      /*
      google.charts.load('current', {'packages':['line']});
      google.charts.setOnLoadCallback(drawAccelChart);
      var accOptions = {
        title: '',
        // curveType: 'function',
        legend: { position: 'bottom' },
        vAxis: { minValue: -1000, maxValue: 2000 },
      };
      var gaccel, chart;
      */
      var bluetoothDevice;

      function beginBLE(){
        

        // 接続するデバイスをある程度絞ってからAdvertisingが動作する
        //let filters = [];
        //filters.push({services: [serviceUuid]});
        navigator.bluetooth.requestDevice({acceptAllDevices:true, optionalServices: [serviceUuid]})
          .then(device => {
            console.log("Connecting to device");
            bluetoothDevice = device;
            return device.gatt.connect();
          })
          .then(server => {
            console.log('Getting Service...');
            return server.getPrimaryService(serviceUuid);
          })
          .then(service => {
            // Serviceが複数ある場合はservicesで配列となる
            console.log('Getting Characteristic...');
            if (XAxisUuid) {
            // Get all characteristics that match this UUID.
            return service.getCharacteristic(XAxisUuid);
            }
          })
          .then(characteristic => {
            // characteristicsが単数の場合はcharacteristicとなる
            if(characteristic.uuid === XAxisUuid){
              handleCharacteristic(characteristic);
              /*
              characteristic.addEventListener('characteristicvaluechanged', handleNotifications)
               
              characteristic.startNotifications();
               */
               //return characteristic.getCharacteristic('00002901-0000-1000-8000-00805f9b34fb');
            }

          })
          
      }
      function handleCharacteristic(characteristic) {
        return characteristic.startNotifications()
        .then(char => {
          characteristic.addEventListener("characteristicvaluechanged",handleNotifications);
          console.log("notify");
          
          //azure_insert(date_str, hour, name , lux, temp_outside, temp_max,  temp_min, temp_gap, temp_self, weather, week,timezone, work_time, actual_work_time, efficiency);
        });
      }
      function handleNotifications(event) {
        if(event.target.uuid === XAxisUuid){
          console.log(String.fromCharCode(event.target.value.getInt8(0)));
          x = String.fromCharCode(event.target.value.getInt8(0));
          if (x==="c"){
            if(temp_max <= Number(str)){
              temp_max = Number(str);
              if(Math.abs(temp_outside-temp_max) >= Math.abs(temp_outside-temp_min)){
                temp_gap = temp_max - temp_outside;
              }else{
                temp_gap = temp_min - temp_outside;
              }
              if (first != 0){
                str = "";
              }
              console.log("temp_max" + String(temp_max));
              console.log("temp_gap" + String(temp_gap));
            }
            if (temp_min >= Number(str) && str != ""){
              temp_min = Number(str);
              if(Math.abs(temp_outside-temp_max) >= Math.abs(temp_outside-temp_min)){
                temp_gap = temp_max - temp_outside;
              }else{
                temp_gap = temp_outside - temp_min;
              }
              str = "";
              first = 1;
              console.log("temp_min" + String(temp_min));
              console.log("temp_gap" + String(temp_gap));
            }
            
          } else if(x==="b"){
            temp_self = Number(str);
            str = "";
            console.log("self" + String(temp_self));
          }else if(x === "y"){
            if (Number(str)<= 450){
              actual_work_time += 3;
            }else{

            }
            work_time += 3;
            efficiency = actual_work_time/work_time;
            if(sec < 60){
              sec += 3;
            }else{
              time_record += 1;
              document.getElementById("time_record").innerHTML = "ただいまの学習時間: "+ String(time_record) + "分";
              sec = 0;
              update_sql(id, date_str, name,  lux, temp_outside, temp_max,  temp_min, temp_gap, temp_self, weather, week,timezone, work_time, actual_work_time, efficiency);
            }
            if(sec_azure < 600){
              sec_azure += 3;
            }else{
              sec_azure = 0;
              azure_insert(date_str, hour, name , lux, temp_outside, temp_max,  temp_min, temp_gap, temp_self, weather, week,timezone, work_time, actual_work_time, efficiency);
            }
            str = "";
            console.log("actual_work_time" + String(actual_work_time));
            console.log("work_time" + String(work_time));
            console.log("sec"+String(sec))
          }else if (x.length>=2 && x.includes("b")){
            str = "";
          }else{
            str = str + x;
          }

        } 
        /*
        gaccel.addRow([new Date(), temp_max]);
        if(gaccel.getNumberOfRows() > 100){
          gaccel.removeRow(0);
        }
        chart.draw(gaccel, accOptions);*/
      }

      function azure_insert(date_str, hour, name , lux, temp_outside, temp_max,  temp_min, temp_gap, temp_self, weather, week,timezone, work_time, actual_work_time, efficiency){
        var param = {
          'PartitionKey': date_str,
          'RowKey': hour,
          'name': name,
          'lux' : lux,
          'temp_outside': temp_outside,
          'temp_max': temp_max,
          'temp_min': temp_min,
          'temp_gap': temp_gap,
          'temp_self': temp_self,
          'weather': weather,
          'Sunday': week[0],
          'Monday': week[1],
          'Tuesday': week[2],
          'Wednesday': week[3],
          'Thursday': week[4],
          'Friday': week[5],
          'Saturday': week[6],
          'timezone_00_03': timezone[0],
          'timezone_03_06': timezone[1],
          'timezone_06_09': timezone[2],
          'timezone_09_12': timezone[3],
          'timezone_12_15': timezone[4],
          'timezone_15_18': timezone[5],
          'timezone_18_21': timezone[6],
          'timezone_21_24': timezone[7],
          'work_time': work_time,
          'actual_work_time': actual_work_time,
          'efficiency': efficiency,
        };
        var request = new XMLHttpRequest();
  
        request.open('POST', 'https://addition-entities.azurewebsites.net/api/insertorreplace');
        request.setRequestHeader("Content-Type", "application/json")
        request.responseType = 'json';
        request.send(JSON.stringify(param));
        /*
        request.onload = function () {
          var data = this.response;
          console.log(data);
        };*/
      }

      
      document.querySelector('#startNotifications').addEventListener('click', function(event) {
        event.stopPropagation();
        event.preventDefault();
        console.log("Begin BLE scanning");

        //add_sql(date_str, name, lux, temp_outside, temp_max,  temp_min, temp_gap, temp_self, weather, week,timezone, work_time, actual_work_time, efficiency);
        //response = update_sql(id, date_str, name,  lux, temp_outside, temp_max,  temp_min, temp_gap, temp_self, weather, week,timezone, work_time, actual_work_time, efficiency);
        response = add_sql(date_str, name, lux, temp_outside, temp_max,  temp_min, temp_gap, temp_self, weather, week,timezone, work_time, actual_work_time, efficiency);
        response.then(function(data){
          id = data.id;
        });
        //id = response.id;
        console.log(typeof id);
        console.log(response);
        //azure_insert(date_str, hour, name , lux, temp_outside, temp_max,  temp_min, temp_gap, temp_self, weather, week,timezone, work_time, actual_work_time, efficiency);
        beginBLE();
      });

      document.querySelector('#disconnect').addEventListener('click', function(event) {
        console.log("disconnect");
        event.stopPropagation();
        event.preventDefault();
        if (!bluetoothDevice) {
          return;
        }
        bluetoothDevice.gatt.disconnect();
        
      });

      var button = document.getElementById("name");
 
      // ボタンをクリックした時の処理
      button.addEventListener("click", function(e) {
      
          e.preventDefault();
      
          // 入力フォームの値を取得
          var name_temp = document.getElementById("textForm").value;
          document.getElementById("name_hyouji").innerHTML = name_temp+"、頑張ってください！！";
          console.log(name_temp);
          if (name != "others"){
            name = name_temp;
            work_time = 0;
            actual_work_time = 0;
            efficiency = 0;
            response = add_sql(date_str, name, lux, temp_outside, temp_max,  temp_min, temp_gap, temp_self, weather, week,timezone, work_time, actual_work_time, efficiency);
            response.then(function(data){
              id = data.id;
            });
            //id = response.id;
            console.log(id);
            console.log(name);
          }else{
            name = name_temp;
          }
      });

      //

      function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
      }
      var csrftoken = getCookie('csrftoken');

      function csrfSafeMethod(method) {
          // these HTTP methods do not require CSRF protection
          return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }
      $.ajaxSetup({
          beforeSend: function(xhr, settings) {
              if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                  xhr.setRequestHeader("X-CSRFToken", csrftoken);
              }
          }
      });

      function add_sql(date_str, name,  lux, temp_outside, temp_max,  temp_min, temp_gap, temp_self, weather, week,timezone, work_time, actual_work_time, efficiency){
        return $.ajax({
            url: '/sql_post/',
            type: 'POST',
            //headers:{'X-CSRFToken': '{{csrf_token}}'},
            beforeSend: function(xhr, settings) {
              if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
              }
            },
            dataType: 'json',
            //contentType: 'application/json',
            data: {
              'date_str': date_str,
              'name': name,
              'lux' : lux,
              'temp_outside': temp_outside,
              'temp_max': temp_max,
              'temp_min': temp_min,
              'temp_gap': temp_gap,
              'temp_self': temp_self,
              'weather': weather,
              'Sunday': week[0],
              'Monday': week[1],
              'Tuesday': week[2],
              'Wednesday': week[3],
              'Thursday': week[4],
              'Friday': week[5],
              'Saturday': week[6],
              'timezone_00_03': timezone[0],
              'timezone_03_06': timezone[1],
              'timezone_06_09': timezone[2],
              'timezone_09_12': timezone[3],
              'timezone_12_15': timezone[4],
              'timezone_15_18': timezone[5],
              'timezone_18_21': timezone[6],
              'timezone_21_24': timezone[7],
              'work_time': work_time,
              'actual_work_time': actual_work_time,
              'efficiency': efficiency,
            }/*,
            success: function(json_data) {   // 200 OK時
                // JSON Arrayの先頭が成功フラグ、失敗の場合2番目がエラーメッセージ
                if (!json_data[0]) {    // サーバが失敗を返した場合
                    alert("Transaction error. " + json_data[0]);
                    return;
                }
                // 成功時処理
                console.log("success");
            }*/
            
        }).done(function(data, textStatus, jqXHR) {
            console.log(jqXHR);
            console.log(jqXHR.responseJSON);
            console.log(typeof jqXHR.responseJSON.id);
            return data;
        })/*.fail(function (jqXHR, textStatus, errorThrown) {
                    // 通信失敗時の処理
                    alert('ファイルの取得に失敗しました。');
                    console.log("ajax通信に失敗しました");
                    console.log("jqXHR          : " + jqXHR.status); // HTTPステータスが取得
                    console.log("textStatus     : " + textStatus);    // タイムアウト、パースエラー
                    console.log("errorThrown    : " + errorThrown.message); // 例外情報
                    console.log(xmlhttp.responseText);
        })*/;
      }

      function update_sql(id, date_str, name,  lux, temp_outside, temp_max,  temp_min, temp_gap, temp_self, weather, week,timezone, work_time, actual_work_time, efficiency){
        console.log(id);
        return $.ajax({
            url: '/sql_update/',
            type: 'POST',
            //headers:{'X-CSRFToken': '{{csrf_token}}'},
            beforeSend: function(xhr, settings) {
              if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
              }
            },
            dataType: 'json',
            //contentType: 'application/json',
            data: {
              'id': id,
              'date_str': date_str,
              'name': name,
              'lux' : lux,
              'temp_outside': temp_outside,
              'temp_max': temp_max,
              'temp_min': temp_min,
              'temp_gap': temp_gap,
              'temp_self': temp_self,
              'weather': weather,
              'Sunday': week[0],
              'Monday': week[1],
              'Tuesday': week[2],
              'Wednesday': week[3],
              'Thursday': week[4],
              'Friday': week[5],
              'Saturday': week[6],
              'timezone_00_03': timezone[0],
              'timezone_03_06': timezone[1],
              'timezone_06_09': timezone[2],
              'timezone_09_12': timezone[3],
              'timezone_12_15': timezone[4],
              'timezone_15_18': timezone[5],
              'timezone_18_21': timezone[6],
              'timezone_21_24': timezone[7],
              'work_time': work_time,
              'actual_work_time': actual_work_time,
              'efficiency': efficiency,
            }/*,
            success: function(json_data) {   // 200 OK時
              id = json_data.id;
              Id = json_data.id;
              //return json_data.id;
            }*/
        }).done(function(data, textStatus, jqXHR) {
            console.log(jqXHR);
            console.log(jqXHR.responseJSON);
            console.log(typeof jqXHR.responseJSON.id);
            return data;
        });
      }
      /*
      function drawAccelChart() {
        gaccel = new google.visualization.DataTable();
        gaccel.addColumn('datetime', 'Time');
        gaccel.addColumn('number', 'X');
        gaccel.addRow([new Date(), 1]);
        chart = new google.charts.Line(document.getElementById('accelerometer'));
        chart.draw(gaccel, accOptions);
      }*/
    </script>
    
    </div>
  </body>
</html>