<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0">
    
    <title>Smart Sharp Pencil App</title>
  </head>
  <body>
    <p>BLE</p>
    <p><form><button id="startNotifications">Start notifications</button></form></p>
    <div class="contents margin">
      <button id="scan" class="button">sample</button>
    </div>
    <div id="accelerometer" style="width:80%; height:200px;"></div>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
      const id = -1;

      const date = new Date();
      const year = date.getFullYear() ;	// 年
      const month = date.getMonth() + 1 ;	// 月
      const day = date.getDate() ;	// 日
      const hour = date.getHours();
      const minute = date.getMinutes() ;	// 分
      const second = date.getSeconds() ;	// 秒
      const dayOfWeek = date.getDay() ;	// 曜日(数値)

      var week = [0,0,0,0,0,0,0]
      var timezone = [0,0,0,0,0,0,0,0];
      week[dayOfWeek] = 1;
      var timez_hour = Math.floor(hour/3);
      timezone[timez_hour] = 1;
      console.log(week,timezone,hour)

      var name = "others";
      

      //天気--------------------------------------------
      var weather = 0;
      var temp_outside = 0;
      $(document).ready(function () {
        //'use strict'

        const APIKEY = "b0fca0711b8aefd394528920f6ba428d";

        //翌日9時のデータの場所を割り出す
        //const date = new Date();
        //const nowHour = date.getHours();

        
        //現在位置の取得ができるかどうか
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(success, error);

            // 現在位置の取得に成功した場合
            function success(position) {
                const positionData = position.coords;

                //緯度経度の取得と表示
                const lat = positionData.latitude;
                const lon = positionData.longitude;
                

                //現在の天気データを呼び出し
                $.ajax({
                    url: "//api.openweathermap.org/data/2.5/weather",
                    dataType: "jsonp",
                    data: "lat=" + lat + "&lon=" + lon + "&appid=" + APIKEY,
                    //天気データ呼び出し成功時の挙動
                    success: function (data) {                
                        if (data.weather[0].main === "Clear") {
                            weather = 2;
                        } else if (data.weather[0].main === "Rain") {
                            weather = -1;
                        } else if (data.weather[0].main === "Clouds") {
                            weather = 1;
                        } else if (data.weather[0].main === "Snow") {
                            weather = -2;
                        }
                        temp_outside = Math.floor((data.main.temp - 273.15) * 10) / 10;
                        console.log(weather);
                        console.log("トウキョウじゃない天気");
                        
                    }
                });
              }

              //現在位置の取得に失敗した場合
              function error(error) {
                  TokyoWeather();
                  console.log(weather);
                  console.log("トウキョウ天気");

              }
        } else {
            TokyoWeather();
            console.log(weather);
            console.log("トウキョウ天気");
        }
        console.log(weather);
        console.log("↑天気");


        function TokyoWeather() {

            //現在の天気データ呼び出し
            $.ajax({
                url: "//api.openweathermap.org/data/2.5/weather",
                dataType: "jsonp",
                data: "q=Tokyo,jp&appid=" + APIKEY,
                //天気データ呼び出し成功時の挙動
                success: function (data) {
                    if (data.weather[0].main === "Sunny" || data.weather[0].main === "Clear") {
                        weather = 2;
                    } else if (data.weather[0].main === "Rain") {
                        weather = -1;
                    } else if (data.weather[0].main === "Clouds") {
                       weather = 1;
                    } else if (data.weather[0].main === "Snow") {
                        weather = -2;
                    }
                    temp_outside = Math.floor((data.main.temp - 273.15) * 10) / 10;
                    console.log(weather);
                    console.log("トウキョウ天気");
                }
            });
        }
      }());

      //照度------------------------------------------  
      var lux = 0
      navigator.permissions.query({name: 'ambient-light-sensor'})
          .then((result) => {
            if(result.state === 'granted') {
              console.log('AmbientLightSensorは利用可能です。');
            } else if(result.state === 'denied') {
              console.log('AmbientLightSensorは利用不可能です。');
            } else if (result.state === 'prompt') {
              console.log('AmbientLightSensorの利用には許可が必要です。');
            }

            // センサオブジェクトをnewする
            const sensor = new AmbientLightSensor();

            // 有効になった時の動作
            sensor.addEventListener('activate', (event) => {
              console.log('AmbientLightSensorは有効になりました。');
            });

            // 値が変わった時の動作
            sensor.addEventListener('reading', (event) => {
              console.log(`${sensor.illuminance}ルクス`);
              lux = Math.round(sensor.illuminance);
              console.log(lux);
              sensor.stop();
            });

            // エラーの時の動作
            sensor.addEventListener('error', (event) => {
              console.log(event.error);
            });

            // 読み取り開始
            sensor.start();

            // 読み取り停止
            //sensor.stop();
      });

      /*
      var request = new XMLHttpRequest();
 
      request.open('GET', 'https://addition-entities.azurewebsites.net/api/retrieve', true);
      request.responseType = 'json';
      request.send();

      request.onload = function () {
        var data = this.response;
        console.log(data);
      };

      

      var param = {
        'RowKey': 20191124,
        'PartitionKey': 18,
        'name': "math",
        'lux' : 12,
        'temp_outside': 4,
        'temp_max': 5,
        'temp_min': 6,
        'temp_gap': 7,
        'temp_self': 8,
        'weather': 9,
        'Sunday': 10,
        'Monday': 11,
        'Tuesday': 12,
        'Wednesday': 13,
        'Thursday': 14,
        'Friday': 15,
        'Saturday': 16,
        'timezone_00_03': 17,
        'timezone_03_06': 19,
        'timezone_06_09': 0,
        'timezone_09_12': 0,
        'timezone_12_15': 1,
        'timezone_15_18': 0,
        'timezone_18_21': 0,
        'timezone_21_24': 0,
        'work_time': 50,
        'actual_work_time': 40,
        'efficiency': 0.80
      };
      //axios.post("https://addition-entities.azurewebsites.net/api/add",param);
      
      function add(){
        return axios.post("https://addition-entities.azurewebsites.net/api/insertorreplace",param);
      }
      add();*/
      

      var XAxisCharacteristic;

      var str = "";
      var temp_gap = 0;
      var temp_max = 0;
      var temp_min = 100;
      var temp_self = 36;
      var work_time = 0;
      var actual_work_time = 0;
      var efficiency = 0;

      var sec = 0;

      let serviceUuid = "442f1570-8a00-9a28-cbe1-e1d4212d53eb";
      let XAxisUuid = "442f1571-8a00-9a28-cbe1-e1d4212d53eb";
      google.charts.load('current', {'packages':['line']});
      google.charts.setOnLoadCallback(drawAccelChart);
      var accOptions = {
        title: '',
        // curveType: 'function',
        legend: { position: 'bottom' },
        vAxis: { minValue: -1000, maxValue: 2000 },
      };
      var gaccel, chart;

      function beginBLE(){
        

        // 接続するデバイスをある程度絞ってからAdvertisingが動作する
        //let filters = [];
        //filters.push({services: [serviceUuid]});
        navigator.bluetooth.requestDevice({acceptAllDevices:true, optionalServices: [serviceUuid]})
          .then(device => {
            console.log("Connecting to device");
            return device.gatt.connect();
          })
          .then(server => {
            console.log('Getting Service...');
            return server.getPrimaryService(serviceUuid);
          })
          .then(service => {
            // Serviceが複数ある場合はservicesで配列となる
            console.log('Getting Characteristic...');
            if (XAxisUuid) {
            // Get all characteristics that match this UUID.
            return service.getCharacteristic(XAxisUuid);
            }
          })
          .then(characteristic => {
            // characteristicsが単数の場合はcharacteristicとなる
            if(characteristic.uuid === XAxisUuid){
              handleCharacteristic(characteristic);
              /*
              characteristic.addEventListener('characteristicvaluechanged', handleNotifications)
               
              characteristic.startNotifications();
               */
               //return characteristic.getCharacteristic('00002901-0000-1000-8000-00805f9b34fb');
            }

          })
          
      }
      function handleCharacteristic(characteristic) {
        return characteristic.startNotifications()
        .then(char => {
          characteristic.addEventListener("characteristicvaluechanged",handleNotifications);
          console.log("notify");
          add_sql(lux, temp_outside, temp_max,  temp_min, temp_gap, temp_self, weather, week,timezone, work_time, actual_work_time, efficiency);
        });
      }
      function handleNotifications(event) {
        if(event.target.uuid === XAxisUuid){
          console.log("2: ");
          console.log(event.target.value);
          console.log(typeof event.target.value);
          console.log(String.fromCharCode(event.target.value.getInt8(0)));
          x = String.fromCharCode(event.target.value.getInt8(0));
          if (x==="c"){
            if(temp_max <= Number(str)){
              temp_max = Number(str);
              if(Math.abs(temp_outside-temp_max) >= Math.abs(temp_outside-temp_min)){
                temp_gap = temp_max - temp_outside;
              }else{
                temp_gap = temp_outside - temp_min;
              }
              str = "";
            }
            if (temp_min >= Number(str)){
              temp_min = Number(str);
              if(Math.abs(temp_outside-temp_max) >= Math.abs(temp_outside-temp_min)){
                temp_gap = temp_max - temp_outside;
              }else{
                temp_gap = temp_outside - temp_min;
              }
              str = "";
            }
            
          } else if(x==="b"){
            temp_self = Number(str);
            str = "";

          }else if(x === "y"){
            if (Number(str)>= 450){
              actual_work_time += 3;
            }else{

            }
            work_time += 3;
            if(sec < 60){
              sec += 3;
            }else{
              sec = 0;
              update_sql();
            }
            str = "";
            efficiency = actual_work_time/work_time;
          }else{
            str = str + x;
          }



        } 
        gaccel.addRow([new Date(), temp_max]);
        if(gaccel.getNumberOfRows() > 100){
          gaccel.removeRow(0);
        }
        chart.draw(gaccel, accOptions);
      }
      document.querySelector('#scan').addEventListener('click', function(event) {
        console.log("submit");
      });
      document.querySelector('#startNotifications').addEventListener('click', function(event) {
        event.stopPropagation();
        event.preventDefault();
        console.log("Begin BLE scanning");

        add_sql(lux, temp_outside, temp_max,  temp_min, temp_gap, temp_self, weather, week,timezone, work_time, actual_work_time, efficiency);
        
        beginBLE();
      });

      function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
      }
      var csrftoken = getCookie('csrftoken');

      function csrfSafeMethod(method) {
          // these HTTP methods do not require CSRF protection
          return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }
      $.ajaxSetup({
          beforeSend: function(xhr, settings) {
              if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                  xhr.setRequestHeader("X-CSRFToken", csrftoken);
              }
          }
      });

      function add_sql(lux, temp_outside, temp_max,  temp_min, temp_gap, temp_self, weather, week,timezone, work_time, actual_work_time, efficiency){
        $.ajax({
            url: '/sql_post/',
            type: 'POST',
            //headers:{'X-CSRFToken': '{{csrf_token}}'},
            beforeSend: function(xhr, settings) {
              if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
              }
            },
            dataType: 'json',
            //contentType: 'application/json',
            data: {
              'name': name,
              'lux' : lux,
              'temp_outside': temp_outside,
              'temp_max': temp_max,
              'temp_min': temp_min,
              'temp_gap': temp_gap,
              'temp_self': temp_self,
              'weather': weather,
              'Sunday': week[0],
              'Monday': week[1],
              'Tuesday': week[2],
              'Wednesday': week[3],
              'Thursday': week[4],
              'Friday': week[5],
              'Saturday': week[6],
              'timezone_00_03': timezone[0],
              'timezone_03_06': timezone[1],
              'timezone_06_09': timezone[2],
              'timezone_09_12': timezone[3],
              'timezone_12_15': timezone[4],
              'timezone_15_18': timezone[5],
              'timezone_18_21': timezone[6],
              'timezone_21_24': timezone[7],
              'work_time': work_time,
              'actual_work_time': actual_work_time,
              'efficiency': efficiency,
              //'csrfmiddlewaretoken': '{{ csrf_token }}' 
            }/*,
            success: function(json_data) {   // 200 OK時
                // JSON Arrayの先頭が成功フラグ、失敗の場合2番目がエラーメッセージ
                if (!json_data[0]) {    // サーバが失敗を返した場合
                    alert("Transaction error. " + json_data[0]);
                    return;
                }
                // 成功時処理
                console.log("success");
            }*/
            
        }).done( response => {
            console.log(response);
            res = $.parseJSON(response.message);
            id = res.id;
            console.log(res);
            console.log(id);
            console.log(response);
        })/*.fail(function (jqXHR, textStatus, errorThrown) {
                    // 通信失敗時の処理
                    alert('ファイルの取得に失敗しました。');
                    console.log("ajax通信に失敗しました");
                    console.log("jqXHR          : " + jqXHR.status); // HTTPステータスが取得
                    console.log("textStatus     : " + textStatus);    // タイムアウト、パースエラー
                    console.log("errorThrown    : " + errorThrown.message); // 例外情報
                    console.log(xmlhttp.responseText);
        })*/;
        //id =
      }

      function update_sql(){

      }

      function drawAccelChart() {
        gaccel = new google.visualization.DataTable();
        gaccel.addColumn('datetime', 'Time');
        gaccel.addColumn('number', 'X');
        gaccel.addRow([new Date(), 1]);
        chart = new google.charts.Line(document.getElementById('accelerometer'));
        chart.draw(gaccel, accOptions);
      }
    </script>
    <ul>
        <li><a href="{% url 'table' %}">学習記録</a></li>
    </ul>
  </body>
</html>