<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    
    <title>Smart Sharp Pencil App</title>
  </head>
  <body>
    <p>BLE</p>
    <p><form><button id="startNotifications">Start notifications</button></form></p>
    <div id="accelerometer" style="width:80%; height:200px;"></div>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
      /*
      var request = new XMLHttpRequest();
 
      request.open('GET', 'https://addition-entities.azurewebsites.net/api/retrieve', true);
      request.responseType = 'json';
      request.send();

      request.onload = function () {
        var data = this.response;
        console.log(data);
      };

      

      var param = {
        'RowKey': 20191124,
        'PartitionKey': 18,
        'name': "math",
        'temp_outside': 4,
        'temp_max': 5,
        'temp_min': 6,
        'temp_gap': 7,
        'temp_self': 8,
        'weather': 9,
        'Sunday': 10,
        'Monday': 11,
        'Tuesday': 12,
        'Wednesday': 13,
        'Thursday': 14,
        'Friday': 15,
        'Saturday': 16,
        'timezone_00_03': 17,
        'timezone_03_06': 19,
        'timezone_06_09': 0,
        'timezone_09_12': 0,
        'timezone_12_15': 1,
        'timezone_15_18': 0,
        'timezone_18_21': 0,
        'timezone_21_24': 0,
        'work_time': 50,
        'actual_work_time': 40,
        'efficiency': 0.80
      };
      //axios.post("https://addition-entities.azurewebsites.net/api/add",param);
      
      function add(){
        return axios.post("https://addition-entities.azurewebsites.net/api/insertorreplace",param);
      }
      add();*/
      
      console.log("fin2");

      var XAxisCharacteristic;
      var ax;
      let serviceUuid = "442f1570-8a00-9a28-cbe1-e1d4212d53eb";
      let XAxisUuid = "442f1571-8a00-9a28-cbe1-e1d4212d53eb";
      google.charts.load('current', {'packages':['line']});
      google.charts.setOnLoadCallback(drawAccelChart);
      var accOptions = {
        title: '',
        // curveType: 'function',
        legend: { position: 'bottom' },
        vAxis: { minValue: -1000, maxValue: 1000 },
      };
      var gaccel, chart;

      function beginBLE(){
        

        // 接続するデバイスをある程度絞ってからAdvertisingが動作する
        //let filters = [];
        //filters.push({services: [serviceUuid]});
        navigator.bluetooth.requestDevice({acceptAllDevices:true, optionalServices: [serviceUuid]})
          .then(device => {
            console.log("Connecting to device");
            return device.gatt.connect();
          })
          .then(server => {
            console.log('Getting Service...');
            return server.getPrimaryService(serviceUuid);
          })
          .then(service => {
            // Serviceが複数ある場合はservicesで配列となる
            console.log('Getting Characteristic...');
            if (XAxisUuid) {
            // Get all characteristics that match this UUID.
            return service.getCharacteristic(XAxisUuid);
            }
          })/*
          .then(characteristic => {
            return characteristic.readValue();
          })
          .then(value => {
            let batteryLevel = value.getUint8(0);
            console.log(`> バッテリーレベルは${batteryLevel}%です`);
          })*/
          .then(characteristic => {
            // characteristicsが単数の場合はcharacteristicとなる
            //console.log("Error1.5: ");
            if(characteristic.uuid === XAxisUuid){
              handleCharacteristic(characteristic);
              //console.log("Error2: ");
              /*
              console.log(characteristic);
              characteristic.addEventListener('characteristicvaluechanged', handleNotifications)
              console.log("XAxis notification started");
               
              characteristic.startNotifications();
              console.log("notify");
              console.log(characteristic.value);
              console.log("value");
               */
               //return characteristic.getCharacteristic('00002901-0000-1000-8000-00805f9b34fb');
            }

          })
          
      }
      function handleCharacteristic(characteristic) {
        return characteristic.startNotifications()
        .then(char => {
          characteristic.addEventListener("characteristicvaluechanged",handleNotifications);
          console.log("notify");
          console.log(characteristic.value);
        });
      }
      function handleNotifications(event) {
        console.log("1: ");
        if(event.target.uuid === XAxisUuid){
          console.log("2: ");
          console.log(event.target.value);
          console.log(typeof event.target.value);
          console.log(event.target.value.getInt8(0));
          x = event.target.value.getInt8(0);




        } 
        console.log("3: ");
        gaccel.addRow([new Date(), x]);
        console.log("4: ");
        console.log(x);
        if(gaccel.getNumberOfRows() > 100){
          gaccel.removeRow(0);
        }
        chart.draw(gaccel, accOptions);
      }
      document.querySelector('#startNotifications').addEventListener('click', function(event) {
        event.stopPropagation();
        event.preventDefault();
        console.log("Begin BLE scanning");
        beginBLE();
      });
      function drawAccelChart() {
        gaccel = new google.visualization.DataTable();
        gaccel.addColumn('datetime', 'Time');
        gaccel.addColumn('number', 'X');
        gaccel.addRow([new Date(), 1]);
        chart = new google.charts.Line(document.getElementById('accelerometer'));
        chart.draw(gaccel, accOptions);
      }
    </script>
    <ul>
        <li><a href="{% url 'table' %}">イベント一覧</a></li>
        <li>リンクB</li>
        <li>リンクC</li>
    </ul>
  </body>
</html>