<!DOCTYPE html>
{% load static %}
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>学習記録</title>
</head>

<body>
  <div class="container">
    <div class="title margin">
      <p id="title">学習記録</p>
    </div>
    <div class="contents margin">
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li class="current"><a href="{% url 'table' %}">学習記録</a></li>
                <li><a href="{% url 'analysis' %}">学習分析</a></li>
            </ul>
        </nav>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <div class ="updown">
      <div class = "back">
        <p id = "down">前の週を表示</p>
        <button type = "button" id = "downcount">◀</button>
      </div>
      <div class = "forward">
        <p id = "up">次の週を表示</p>
        <button type = "button" id = "upcount">▶</button>
      </div>
    </div>
    
  　<div class = "graphs" id="gct_sample_column" style="width:90%; height:250pt" ></div>
    <div class = "graphs" id="column2" style="width:90%; height:250pt" ></div>
    <div class = "eff">
      <div class = "eval" id="pie" style="width:70%; height:200pt" ></div>
      <div class = "eval" >    
        <img width=150 src ="https://res.cloudinary.com/hx3z2s9d0/image/upload/v1575967961/Rotating_earth__large_wy9cfd.gif"/>
      </div>
    </div>
    </div>
  </div>
    
    
  <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{% static 'style.css' %}">
  
  <script type="text/javascript">
    function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
              var cookie = jQuery.trim(cookies[i]);
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });


    var date = new Date();
    const dayOfWeek = date.getDay() ;	// 曜日(数値)

    var week = [];
    date.setDate(date.getDate() - dayOfWeek);
    for (  var j = 0;  j < 7;  j++  ){
      
      var year = date.getFullYear() ;	// 年
      var month = date.getMonth() + 1 ;	// 月
      var day = date.getDate() ;	// 日
      var date_str = String(year)+"/"+String(month)+"/"+String(day);
      console.log(date_str);
      week.push(date_str);
      date.setDate(date.getDate()  + 1);
    }
    var time;
    var num;
    var column;
    var d;
    var d2;
    var d3;


    response = get_sql(week);
    response.then(function(data){
      console.log(data.d);
      console.log(typeof data.d);
      var result = data.d.replace(/'/g, '"');
      console.log(JSON.parse(result));
      console.log(JSON.parse(result).time[0][0][0]);
      time = JSON.parse(result).time;
      num = JSON.parse(result).num;
      column = JSON.parse(result).column;
      var n = column.length;
      var column_name;
      var column_index;

      var col = [""];

      d =[[""],[""],[""],[""],[""],[""],[""]];//最終敵にdataに入れる配列の原型

      d2 = [["","実際の学習時間","その他"],
            [week[0],0,0],
            [week[1],0,0],
            [week[2],0,0],
            [week[3],0,0],
            [week[4],0,0],
            [week[5],0,0],
            [week[6],0,0]];
      
      d3 = [["","時間"],
            ["実際の学習時間",0],
            ["その他",0]];

      for (var j = 0; j < 7; j++){
        for (var k = 0; k < n; k++){
          d[j].push(0);//0を格納
          if(j ===6){
            col.push(column[k])
          }
          
          console.log(n,col[k],d[j][k]);

        }
        console.log(d[j].length)

        if (num[j] === 0){//nodataを無視

        }else{
          for (var l = 0; l < num[j]; l++){
            column_name = time[j][l][0];//j曜日のl番目のcolumn名を抽出
            column_index = column.indexOf(column_name);
            d[j][column_index+1] += (time[j][l][1]+time[j][l][2]);
            d2[j+1][1] += time[j][l][1];
            d2[j+1][2] += time[j][l][2];
            console.log(num[j]);
            if (l === (num[j]-1)){
              for (var q = 0; q < n; q++){
                d[j][q+1] = Math.round(d[j][q+1]/36)/100;
              }
            }
          }
        }
        d2[j+1][1] = Math.round(d2[j+1][1]/36)/100;
        d2[j+1][2] = Math.round(d2[j+1][2]/36)/100;
      }
      d.unshift(col)
      for (var m = 1; m < 8; m++){
        d[m][0] = week[m-1];
        
      }
      for (var o = 0; o< 8; o++){
        for (var p = 0; p< d[o].length; p++){
          console.log(d[o][p]);
        }
        console.log(d[o].length);
      }

      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(draw);
    });

    


    var i = 0;
    var data;
    var chart;

    var data2;
    var chart2;

    var data3;
    var chart3;

  
    //google.load("visualization", "1", {packages:["corechart"]});
    //google.setOnLoadCallback(draw);
    function draw(){
        data = google.visualization.arrayToDataTable(d);
        data2 = google.visualization.arrayToDataTable(d2);
  
        var options = {
            title: '項目別作業時間',
            hAxis: {title: '日付'},
            isStacked: true,
            vAxis:{title: '時間[h]',minValue:0,maxValue:10,gridlined:{count:6 }}/*,
            backgroundColor: {
                                  fill: "#f0f0f0",
                                  stroke: '#523335',
                                  strokeWidth: 3
                              }*/
        };

        for (s = 1; s < 8; s++){
          d3[1][1] += d2[s][1];
          d3[2][1] += d2[s][2];
        }
        data3 = google.visualization.arrayToDataTable(d3);
        if (column.length === 0){
          data = google.visualization.arrayToDataTable([
              [     '', 'no data'],
              [week[0],        0],
              [week[1],        0],
              [week[2],        0],
              [week[3],        0],
              [week[4],        0],
              [week[5],        0],
              [week[6],        0],
          ]);
          data2 = google.visualization.arrayToDataTable([
              [     '', 'no data'],
              [week[0],        0],
              [week[1],        0],
              [week[2],        0],
              [week[3],        0],
              [week[4],        0],
              [week[5],        0],
              [week[6],        0],
          ]);
          data3 = google.visualization.arrayToDataTable([
              [     '', '時間'],
              ["no data",   100]
          ]);
        }
        var options2 = {
            title: '日別の学習効率',
            hAxis: {title: '日付'},
            isStacked: true,
            vAxis:{title: "時間[h]",minValue:2,maxValue:10,gridlined:{count:6 }}/*,
            backgroundColor: {
                                  fill: "#f0f0f0",
                                  stroke: '#523335',
                                  strokeWidth: 3
                              }*/
        };
        var options3 = {
          title: '1週間の学習効率',
          is3D: true/*,
          backgroundColor: {
                                  fill: "#f0f0f0",
                                  stroke: '#523335',
                                  strokeWidth: 3
                              }*/
        };
  
        chart = new google.visualization.ColumnChart(document.getElementById('gct_sample_column'));
        chart2 = new google.visualization.ColumnChart(document.getElementById('column2'));
        chart3 = new google.visualization.PieChart(document.getElementById('pie'));
        chart.draw(data, options);
        chart2.draw(data2,options2);
        chart3.draw(data3,options3);
  
        
    }

    document.getElementById("upcount").onclick = function (){
      d = [[""],[""],[""],[""],[""],[""],[""]];
      week = []
      date.setDate(date.getDate());
      for (  var j = 0;  j < 7;  j++  ){
        
        var year = date.getFullYear() ;	// 年
        var month = date.getMonth() + 1 ;	// 月
        var day = date.getDate() ;	// 日
        var date_str = String(year)+"/"+String(month)+"/"+String(day);
        console.log(date_str);
        week.push(date_str);
        date.setDate(date.getDate()  + 1);
      }
      response = get_sql(week);
      response.then(function(data){
        console.log(data.d);
        console.log(typeof data.d);
        var result = data.d.replace(/'/g, '"');
        console.log(JSON.parse(result));
        console.log(JSON.parse(result).time[0][0][0]);
        time = JSON.parse(result).time;
        num = JSON.parse(result).num;
        column = JSON.parse(result).column;
        var n = column.length
        col = [""];

        d =[[""],[""],[""],[""],[""],[""],[""]];//最終的にdataに入れる配列の原型

        d2 = [["","実際の学習時間","その他"],
            [week[0],0,0],
            [week[1],0,0],
            [week[2],0,0],
            [week[3],0,0],
            [week[4],0,0],
            [week[5],0,0],
            [week[6],0,0]];

        d3 = [["","時間"],
            ["実際の学習時間",0],
            ["その他",0]];

        for (var j = 0; j < 7; j++){
          for (var k = 0; k < n; k++){
            d[j].push(0);//0を格納
            if(j ===6){
              col.push(column[k])
            }
            
            console.log(n,col[k],d[j][k]);

          }
          console.log(d[j].length)

          if (num[j] === 0){//no dataを無視

          }else{
            for (var l = 0; l < num[j]; l++){
              column_name = time[j][l][0];//j曜日のl番目のcolumn名を抽出
              column_index = column.indexOf(column_name);
              d[j][column_index+1] += (time[j][l][1]+time[j][l][2]);
              d2[j+1][1] += time[j][l][1];
              d2[j+1][2] += time[j][l][2];
              if (l === (num[j]-1)){
                for (var q = 0; q < n; q++){
                  d[j][q+1] = Math.round(d[j][q+1]/36)/100;
                }
              }
            }
          }
          d2[j+1][1] = Math.round(d2[j+1][1]/36)/100;
          d2[j+1][2] = Math.round(d2[j+1][2]/36)/100;
        }
        d.unshift(col)
        for (var m = 1; m < 8; m++){
          //d[m].unshift(week[m]);
          d[m][0] = week[m-1];
          
        }

        data = google.visualization.arrayToDataTable(d);
        data2 = google.visualization.arrayToDataTable(d2);

        for (s = 1; s < 8; s++){
          d3[1][1] += d2[s][1];
          d3[2][1] += d2[s][2];
        }
        data3 = google.visualization.arrayToDataTable(d3);
        if (column.length === 0){
          data = google.visualization.arrayToDataTable([
              [     '', 'no data'],
              [week[0],         0],
              [week[1],         0],
              [week[2],         0],
              [week[3],         0],
              [week[4],         0],
              [week[5],         0],
              [week[6],         0],
          ]);
          data2 = google.visualization.arrayToDataTable([
              [     '', 'no data'],
              [week[0],         0],
              [week[1],         0],
              [week[2],         0],
              [week[3],         0],
              [week[4],         0],
              [week[5],         0],
              [week[6],         0],
          ]);
          data3 = google.visualization.arrayToDataTable([
              [     '', '時間'],
              ["no data",   100]
          ]);
        }
        var options = {
            title: '項目別学習時間',
            hAxis: {title: '日付'},
            isStacked: true,
            vAxis:{title: "時間[h]",minValue:2,maxValue:10,gridlined:{count:6 }}/*,
            backgroundColor: {
                                  fill: "#f0f0f0",
                                  stroke: '#523335',
                                  strokeWidth: 3
                              }*/
        };
        var options2 = {
            title: '日別の学習効率',
            hAxis: {title: '日付'},
            isStacked: true,
            vAxis:{title: "時間[h]",minValue:2,maxValue:10,gridlined:{count:6 }}/*,
            backgroundColor: {
                                  fill: "#f0f0f0",
                                  stroke: '#523335',
                                  strokeWidth: 3
                              }*/
        };
        var options3 = {
          title: '1週間の学習効率',
          is3D: true/*,
          backgroundColor: {
                                  fill: "#f0f0f0",
                                  stroke: '#523335',
                                  strokeWidth: 3
                              }*/
        };
        chart.draw(data,options);
        chart2.draw(data2,options2);
        chart3.draw(data3,options3);
      });
    }

    document.getElementById("downcount").onclick = function (){
      d = [[""],[""],[""],[""],[""],[""],[""]];
      week = []
      date.setDate(date.getDate() - 14);
      for (  var j = 0;  j < 7;  j++  ){
        var year = date.getFullYear() ;	// 年
        var month = date.getMonth() + 1 ;	// 月
        var day = date.getDate() ;	// 日
        var date_str = String(year)+"/"+String(month)+"/"+String(day);
        week.push(date_str);
        date.setDate(date.getDate()  + 1);
      }
      response = get_sql(week);
      response.then(function(data){
        var result = data.d.replace(/'/g, '"');
        time = JSON.parse(result).time;
        num = JSON.parse(result).num;
        column = JSON.parse(result).column;
        var n = column.length
        col = [""];

        d =[[""],[""],[""],[""],[""],[""],[""]];//最終敵にdataに入れる配列の原型

        d2 = [["","実際の学習時間","その他"],
            [week[0],0,0],
            [week[1],0,0],
            [week[2],0,0],
            [week[3],0,0],
            [week[4],0,0],
            [week[5],0,0],
            [week[6],0,0]];

        d3 = [["","時間"],
            ["実際の学習時間",0],
            ["その他",0]];

        for (var j = 0; j < 7; j++){
          for (var k = 0; k < n; k++){
            d[j].push(0);//0を格納
            if(j ===6){
              col.push(column[k])
            }
          }

          if (num[j] === 0){//nodataを無視

          }else{
            for (var l = 0; l < num[j]; l++){
              column_name = time[j][l][0];//j曜日のl番目のcolumn名を抽出
              column_index = column.indexOf(column_name);
              d[j][column_index+1] += (time[j][l][1]+time[j][l][2]);
              d2[j+1][1] += time[j][l][1];
              d2[j+1][2] += time[j][l][2];
              if (l === (num[j]-1)){
                for (var q = 0; q < n; q++){
                  d[j][q+1] = Math.round(d[j][q+1]/36)/100;
                }
              }
            }
          }
          d2[j+1][1] = Math.round(d2[j+1][1]/36)/100;
          d2[j+1][2] = Math.round(d2[j+1][2]/36)/100;
        }
        d.unshift(col)
        for (var m = 1; m < 8; m++){
          //d[m].unshift(week[m]);
          d[m][0] = week[m-1];
          
        }

        data = google.visualization.arrayToDataTable(d);
        data2 = google.visualization.arrayToDataTable(d2);

        for (s = 1; s < 8; s++){
          d3[1][1] += d2[s][1];
          d3[2][1] += d2[s][2];
        }
        data3 = google.visualization.arrayToDataTable(d3);
        if (column.length === 0){
          data = google.visualization.arrayToDataTable([
              [     '', 'no data'],
              [week[0],         0],
              [week[1],         0],
              [week[2],         0],
              [week[3],         0],
              [week[4],         0],
              [week[5],         0],
              [week[6],         0],
          ]);
          data2 = google.visualization.arrayToDataTable([
              [     '', 'no data'],
              [week[0],         0],
              [week[1],         0],
              [week[2],         0],
              [week[3],         0],
              [week[4],         0],
              [week[5],         0],
              [week[6],         0],
          ]);
          data3 = google.visualization.arrayToDataTable([
              [     '', '時間'],
              ["no data",   100]
          ]);
        }
        var options = {
            title: '項目別学習時間',
            hAxis: {title: '日付'},
            isStacked: true,
            vAxis:{title: "時間[h]",minValue:2,maxValue:10,gridlined:{count:6 }}/*,
            backgroundColor: {
                                  fill: "#f0f0f0",
                                  stroke: '#523335',
                                  strokeWidth: 3
                              }*/
        };
        var options2 = {
            title: '日別の学習効率',
            hAxis: {title: '日付'},
            isStacked: true,
            vAxis:{title: "時間[h]",minValue:2,maxValue:10,gridlined:{count:6 }}/*,
            backgroundColor: {
                                  fill: "#f0f0f0",
                                  stroke: '#523335',
                                  strokeWidth: 3
                              }*/
        };
        var options3 = {
          title: '1週間の学習効率',
          is3D: true/*,
          backgroundColor: {
                                  fill: "#f0f0f0",
                                  stroke: '#523335',
                                  strokeWidth: 3
                              }*/
        };
        chart.draw(data,options);
        chart2.draw(data2,options2);
        chart3.draw(data3,options3);
      });
    }
    

    function get_sql(week){
        return $.ajax({
            url: '/table/sql_get/',
            type: 'POST',
            headers:{'X-CSRFToken': '{{csrf_token}}'},
            
            dataType: 'json',
            //contentType: 'application/json',
            data: {
              'sun': week[0],
              'mon': week[1],
              'tue': week[2],
              'wed': week[3],
              'thu': week[4],
              'fri': week[5],
              'sat': week[6],
            }
        }).done(function(data, textStatus, jqXHR) {
            return data;
        });
      }
  
    
  </script>
  
  
</body>
</html>