<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>学習記録</title>
</head>
<body>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <button type = "button" id = "upcount">▶</button>
    <button type = "button" id = "downcount">◀</button>
  <div class="contents margin">
    <button id="scan" class="button">sample</button>
  </div>
  
  <script type="text/javascript">
    var date = new Date();
    const dayOfWeek = date.getDay() ;	// 曜日(数値)

    var week = [];
    date.setDate(date.getDate() - dayOfWeek);
    for (  var j = 0;  j < 7;  j++  ){
      date.setDate(date.getDate()  + 1);
      var year = date.getFullYear() ;	// 年
      var month = date.getMonth() + 1 ;	// 月
      var day = date.getdate() ;	// 日
      var date_str = String(year)+String(month)+String(day);
      console.log(date_str);
      week.push(date_str);
    }
    var time;
    var name;
    var column;

    reponse = get_sql(week);
    response.then(function(data){
      time = data.time;
      name = data.name;
      column = data.column;
    });
    //id = response.id;
    console.log(typeof time);
    console.log(typeof name);
    console.log(typeof column);
    console.log(time);
    console.log(name);
    console.log(column);
    console.log(response);

    var i = 0;
    var data;
    var chart;
  
    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(draw);
    function draw(){
        var data = google.visualization.arrayToDataTable([
            [       '', '売上高', '営業利益', '経常利益'],
            ['2004 年',     1000+parseInt(i),        400,        380],
            ['2005 年',     1170,        460,        400],
            ['2006 年',      660,       1120,        900],
            ['2007 年',     1030,        540,        480],
            ['2008 年',     1350,        750,        800]
        ]);
  
        var options = {
            title: '会社業績',
            hAxis: {title: '年度'},
            isStacked: true
        };
  
        chart = new google.visualization.ColumnChart(document.getElementById('gct_sample_column'));
        chart.draw(data, options);
  
        chart.Update = function(data){
          chart.draw(data,options);
  
          document.getElementById("upcount").onclick = function() {
            i = parseInt(i) + 10;
            console.log(i);
            chart.draw(data,options);
          }
        }
    }

    document.getElementById("upcount").onclick = function (){
      i = parseInt(i) + 10;
      data = google.visualization.arrayToDataTable([
          [       '', '売上高', '営業利益', '経常利益'],
          ['2004 年',     1000+parseInt(i),        400,        380],
          ['2005 年',     1170,        460,        400],
          ['2006 年',      660,       1120,        900],
          ['2007 年',     1030,        540,        480],
          ['2008 年',     1350,        750,        800]
      ]);
  
      var options = {
          title: '学習状況',
          hAxis: {title: '日付'},
          isStacked: true
      };
      chart.draw(data,options);
    }

    function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
              var cookie = jQuery.trim(cookies[i]);
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    function get_sql(week){
        $.ajax({
            url: '/sql_get/',
            type: 'POST',
            //headers:{'X-CSRFToken': '{{csrf_token}}'},
            beforeSend: function(xhr, settings) {
              if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
              }
            },
            dataType: 'json',
            //contentType: 'application/json',
            data: {
              'sun': week[0],
              'mon': week[1],
              'tue': week[2],
              'wed': week[3],
              'thu': week[4],
              'fri': week[5],
              'sat': week[6],
            }
        }).done(function(data, textStatus, jqXHR) {
            return data;
        });
      }
    
  </script>
  <div id="gct_sample_column" style="width:80%; height:250pt" ></div>
  
  <ul>
    <li>イベントA</li>
    <li>イベントB</li>
    <li>イベントC</li>
    <li>イベントD</li>
    <li>イベントE</li>
  </ul>
</body>
</html>